<div class="page-header">
  <h1>Share #<%= @share.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Shareowner</dt>
  <dd><%= @share.shareowner %></dd>

  <dt>Sharewith</dt>
  <dd><%= @share.sharewith %></dd>

  <dt>Entryid</dt>
  <dd><%= @share.entryid %></dd>

</dl>
