<div class="page-header">
  <h1>Entry #<%= @entry.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Text</dt>
  <dd><%= @entry.text %></dd>

  <dt>User</dt>
  <dd><%= @entry.user %></dd>

  <dt>Image</dt>
  <dd><%= @entry.image %></dd>

</dl>
